* {
  box-sizing: border-box;
}

.smiley {
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.chart {
<<<<<<< HEAD
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Abstand zwischen Diagrammen */
=======

  display: flex;
  /* Use flexbox for layout */
  justify-content: space-between;
  /* Space between charts */
>>>>>>> upstream/main
}

.withTitle {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  width: 90%;
}

.chartSideBySide {
<<<<<<< HEAD
  flex: 1 1 calc(50% - 16px); /* Zwei Diagramme nebeneinander auf Desktop */
=======

  padding: 10px;
  width: 90%;

>>>>>>> upstream/main
}

.rightSided {
  text-align: right;
  margin-top: 20px;
  display: block;
  border: 1px solid #d0d0d0;
  border-radius: 5px;

}

.legend {
  height: 26px;
 
  margin: auto;
  display: block;
}
.anmerkung {
  font-style: italic;
  margin-top: 20px;
}
.share_img {
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.big_icon {
  height: 60px;
  vertical-align: middle;
  margin-right: 0px;
<<<<<<< HEAD
}

@media (max-width: 768px) {
  .chartSideBySide {
      flex: 1 1 100%; /* Diagramme untereinander auf kleinen Bildschirmen */
  }
=======
>>>>>>> upstream/main
}